:root {
  --bg: #0f1115;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg);
}
#map {
  width: 100%;
  height: 100%;
} /* Controlli MapLibre */
.maplibregl-ctrl-group {
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.35);
  border-radius: 6px;
  overflow: hidden;
} /* switcher basemap */ /*layerSwitcherControl*/
.maplibregl-ctrl-basemaps {
  display: flex;
  flex-direction: row;
  pointer-events: auto;
  bottom: 15px;
  position: relative;
}
.maplibregl-ctrl-basemaps.reverse {
  flex-direction: row-reverse;
}
.maplibregl-ctrl-basemaps.column {
  flex-direction: column;
}
.maplibregl-ctrl-basemaps.column.reverse {
  flex-direction: column-reverse;
}
.maplibregl-ctrl-basemaps .basemap {
  width: 64px;
  height: 64px;
  margin: 2px;
  border: 2px solid #ccc;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  cursor: pointer;
}
.maplibregl-ctrl-basemaps .basemap.active {
  border-color: orange;
  box-shadow: 2px 2px 4px #000;
}
.maplibregl-ctrl-basemaps.closed .basemap {
  display: none;
}
.maplibregl-ctrl-basemaps.closed .basemap.active {
  display: block;
  border: 2px solid #ccc;
}
.style-switcher {
  position: absolute;
  bottom: 7vh;
  right: 20px;
  background: #2c2c2c;
  color: #f0f0f0;
  border-radius: 10px;
  padding: 10px 14px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
  font-size: 14px;
  z-index: 1;
  transition: all 0.3s ease;
}
.style-switcher select {
  background: #1e1e1e;
  color: #f0f0f0;
  border: 1px solid #444;
  padding: 6px;
  border-radius: 6px;
}
